NEXT_PUBLIC_SUPABASE_URL=https://eeosjzhewztxhjnhwaxw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_rOpUtUJtqYRI6qds4WktOA_IE3Xk4HE
SUPABASE_SERVICE_ROLE_KEY=SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
